---
- hosts: all
  sudo: yes
  tasks:

  - name: Install docker

    apt:
        name={{ item }}
        update_cache=yes
    with_items:
        - python-pip
        - python-dev
        - python-setuptools
        - build-essential
        - apt-transport-https
        - ca-certificates
  - apt_key:
      keyserver: "hkp://p80.pool.sks-keyservers.net:80"
      id: "58118E89F3A912897C070ADBF76221572C52609D"
      state: "present"
  - apt_repository: repo='deb https://apt.dockerproject.org/repo ubuntu-wily main' state=present
  - apt:
        name=docker-engine
        update_cache=yes
  - pip:
        name=docker-py
        state=present



  - name: Run the wiremock image

    docker:
      name: wiremock
      image: mindlapse/wiremock
      state: started
      ports:
      - "443:443"
      - "80:8080"
      env:
        GIT_REPO: "{{git_repo}}"
        GIT_BRANCH: "{{git_branch}}"